(?P<remote_addr>[0-9.]*) (.*) (?P<remote_user>.*) \[(?P<local_time>.*)\] "(?P<http_method>[A-Z]*) (?P<request>.*) (?P<http_version>HTTP\/[0-9.]{3})" (?P<status>[0-9]{3}) (?P<body_bytes_sent>[0-9]*) "(?P<referer>.*)" "(?P<user_agent>.*)" "(?P<x_forwarded_for>.*)" "(?P<host>.*)" sn="(?P<server_name>.*)" rt=(?P<request_time>[0-9.]*) ua="(?P<upstream_addr>[0-9.:]*|-)" us="(?P<upstream_status>[0-9]{3}|-)" se="(?P<sent_http_content_encoding>.*)" ut="(?P<upstream_response_time>[0-9.]*|-)" ul="(?P<upstream_response_length>[0-9]*|-)" cs=(?P<upstream_cache_status>[A-Z]*)